<p>stepone works!</p>


<table name="ebgStepOneForm">
    <tr>
        <td>
            <label for="name" class="col-sm-4 control-label">End Destination Country:</label>
        </td>
        <td>
            <select class="form-control" [(ngModel)]="one.enddestinationcountry">
                <option>Select</option>
                <option>India</option>
                <option>3</option>
                <option>4</option>
            </select>

        </td>
    </tr>
    <tr>
        <td>
            <label class="col-sm-4 control-label">Frequency:</label>
        </td>
        <td>
            <select [(ngModel)]="one.frequencydropdown">
                    <option *ngFor="let frequency of frequencyObject">
                        {{ frequency.freq }}f
                    </option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-primary" routerLink="/steptwo">Next</button>
        </td>
    </tr>
</table>

